@extern('header')
	<header>
		<div id="logo">
			<img src="{{PROJECT_IMG_ROUTE}}/system/logo.png">
			<h1 class="tituloApp">ChangApp</h1>	
		</div>
		
		

		<div id="control__user">
			<a href="register" class="control__user__btn">Creá tu cuenta</a>
			<a href="login" class="control__user__btn">Ingresá</a>
		</div>
	</header>
	 
	<main>

		<h2>Front-End</h2>
		<h3>Maldonado Ignacio<span>Team Leader</span></h3>
		<h3>Stachioni Joaquin</h3>
		<h3>Lucero Nicolás</h3>
		<h3>Rubén Ferraris</h3>

		<h2>Back-End</h2>
		<h3>Pupich Agustín<span>Team Leader</span></h3>
		<h3>Cabral Luca</h3>
		<h3>Gil Mauricio</h3>
		<h3>Choque Sebastián</h3>

		<h2>Data Base</h2>
		<h3>Gonzalez Augusto<span>Team Leader</span></h3>
		<h3>Choque Melina</h3>
		<h3>Dominguez Joaquín</h3>
		<h3>Aragon Tobias</h3>


		<h2>Scrum Master</h2>
		<h3>Brum Gutierrez Maria<span>Team Leader</span></h3>
		<h3>Valdez Cristian</h3>
		<h3>Valdez Ariel</h3>
		
	</main>

	
@extern('footer')

		
		 
