	
 	
 	<footer>
         © 2024 MBCorp S.A. Todos los derechos reservados. · <a>Políticas de Privacidad</a> · <a>Términos y Condiciones</a> · <a>Defensa del Consumidor</a> · <a>Botón de arrepentimiento</a> · <a>Sitemap</a><br><br>
        Buenos Aires, Argentina<br><br>
        <a href="https://mattprofe.com.ar">@MattProfe</a> and <a href="devteam">DevTeam</a> First Sprint
        <br><br>
        LA AGENCIA DE ACCESO A LA INFORMACIÓN PÚBLICA, en su carácter de Órgano de Control de la Ley N° 25.326, tiene la atribución de atender las denuncias y reclamos que interpongan quienes resulten afectados en sus derechos por incumplimiento de las normas vigentes en materia de protección de datos personales.<br>
    	<!-- <div id="footer__git">
    		<a href="https://github.com/mattprofe"><i class="fa-brands fa-github"></i>GitHub</a>
    		<a href="https://gitlab.com/mattprofe"><i class="fa-brands fa-gitlab"></i>GitLab</a>
    	</div>
    	<div id="footer__extra">
    		<p>En base al framework de <a href="http://morphyx.com.ar/">MorphYX</a></p>
    		<p>Técnica n°3 Malv. Arg. 2024</p>
    	</div> -->
    </footer>
    </div>
</body>
</html>