<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>{{PROJECT_NAME}} - {{PROJECT_SECTION}}</title>

	<!-- Primary Meta Tags -->
	<meta name="title" content="{{PROJECT_NAME}}">
	<meta name="description" content="{{PROJECT_DESCRIPTION}}">
	
	<meta name="author" content="{{PROJECT_AUTHOR}}">
	<meta name="reply-to" content="{{PROJECT_AUTHOR_CONTACT}}">
	<link rev="made" href="mailto:{{PROJECT_AUTHOR_CONTACT}}">
	<meta name="keywords" content="{{PROJECT_KEYWORDS}}">
	<meta name="Resource-type" content="Document">
	<meta name="DateCreated" content="Thu, 22 September 2020 00:00:00 GMT+3">

	<!-- Open Graph / Facebook -->
	<meta property="og:type" content="website">
	<meta property="og:url" content="{{PROJECT_URL}}">
	<meta property="og:title" content="{{PROJECT_NAME}}">
	<meta property="og:description" content="{{PROJECT_DESCRIPTION}}">
	<meta property="og:image" content="{{PROJECT_URL}}/web/img/hero.jpeg">

	<link rel="icon" type="image/png" sizes="16x16"  href="{{PROJECT_IMG_ROUTE}}/system/favicons/favicon-16x16.png">
	<meta name="msapplication-TileColor" content="#ffffff">
	<meta name="theme-color" content="#ffffff">

	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
	
	<link rel="stylesheet" type="text/css" href="{{PROJECT_CSS_ROUTE}}/vars.css{{PROJECT_MODE}}">
	<link rel="stylesheet" type="text/css" href="{{PROJECT_CSS_ROUTE}}/layout.css{{PROJECT_MODE}}">
	<link rel="stylesheet" type="text/css" href="{{PROJECT_CSS_ROUTE}}/cardAction.css{{PROJECT_MODE}}">
	<link rel="stylesheet" type="text/css" href="{{PROJECT_CSS_ROUTE}}/cardPublication.css{{PROJECT_MODE}}">
	<link rel="stylesheet" type="text/css" href="{{PROJECT_CSS_ROUTE}}/landing.css{{PROJECT_MODE}}">

	<script type="text/javascript" src="views/static/js/env.js{{PROJECT_MODE}}"></script>
</head>
<body>
	<div id="wrapper">